# Ignore environment files
.env

# Ignore report extracts directory
report_extracts/**/*.json

# Ignore reports directory
reports/**/*.pdf
renamed_report_extracts/**/*.json
# Ignore .venv directory
.venv/

# Ignore Conda environment
.conda/
__pycache__/*.pyc
