# Ignore environment files
.env

# Ignore report extracts directory
report_extracts/

# Ignore reports directory
reports/
renamed_report_extracts/
# Ignore .venv directory
.venv/

# Ignore Conda environment
.conda/
__pycache__/*.cpython-311.pyc
